transformers
tokenizers
PyMuPDF
img2pdf
einops
easydict
addict 
Pillow
numpy
psycopg2-binary
boto3
llama-index
llama-index-embeddings-google
llama-index-vector-stores-pinecone
llama-index-embeddings-google-genai