DB_HOST
DB_NAME
DB_USER
DB_PASSWORD

AWS_MAX_POOL_CONNECTIONS
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_REGION

FOLDER_BATCH_SIZE
MINI_PAGE_BATCH_SIZE
DOWNLOAD_TMP_DIR
S3_URL

MOD_VALUE
MOD_REMAINDER